.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        filter: brightness(70%);
        object-fit: cover;
        height: 223px;
        border-radius: 25px;
        width: 100%;    
    }

    p {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 48px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 768px) {

    .banner {
        
        justify-content: flex-start;

        img {
            width: 100%;
            height: 111px;
            border-radius: 10px;
        }

        p {
            font-size: 24px;
            padding-left: 20px;
        }
    }

}


