.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(246, 246, 246, 1);
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 30px;
}

.card {
    position: relative;          // supperposition avec l'overlay qui est en absolute
    width: 30%;
    height: 340px;
    transition: 0.2s;

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        display: flex;              // placement du h3
        justify-content: center;
        z-index: 1;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
    }

    h3 {
        width: 90%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding-top: 290px;
    }

    &:hover {
        scale: (1.03);
    }
}


@media only screen and (max-width: 768px) {

    .card-container {
        background: white;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 30px 0 30px 0;
    }

    .card {
        width: 100%;
        height: 255px;

        .overlay {
            justify-content: flex-start;
            padding-left: 20px;
        }

        h3 {
            padding-top: 200px;   
        }
    }

}