.card-details-container {
    padding-left: 100px;
    padding-right: 100px;
    color: rgba(255, 96, 96, 1);

    .banner {
        height: 415px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 50px;
        border-radius: 25px;
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    h1 {
        font-weight: 500;
        font-size: 36px;
    }

    h3 {
        font-weight: 500;
        font-size: 18px;
    }

    .tags {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
        
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 115px;
            height: 25px;
            border-radius: 10px;
            background-color: rgba(255, 96, 96, 1);
            color: white;
            font-size: 14px;
        }
    }

    .positionning-handler {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        .details-right {
            display: flex;
            align-items: center;

            .host {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-left: 10px;
            }

            p {
                font-size: 18px;
            }
        }
    }

    .collapses {
        display: flex;
        gap: 80px;

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 18px;
            line-height: 25px;
        }
        
        li {
            line-height: 25px;
            font-size: 18px;
        }
    }

    .collapse-details {
        border-radius: 10px;
    }
}

@media only screen and (max-width: 768px) {

    .card-details-container {
        padding: 0 25px 0 25px;

        .banner {
            height: 255px;
            border-radius: 10px;
            margin-bottom: 5px;
        }

        .positionning-handler {
            display: flex;
            flex-direction: column;
            
            .title {
                gap: 5px;
                margin-bottom: 5px;
            }

            h1 {
                font-size: 18px;
            }
            
            h3 {
                font-size: 14px;
            }

            .tags {
                margin: 0;
                p {
                    height: 18px;
                    width: 85px;
                    font-size: 10px;
                }
            }

            .details-right {
                margin: 10px 0 10px;
                .host {
                        width: 32px;
                        height: 32px;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        .collapses {
            display: flex;
            flex-direction: column;
            gap: 6px;

            p, li {
                font-size: 12px;
                line-height: 17px;
            }

            .collapse-details {
                border-radius: 5px;

                h2 {
                    font-size: 13px;
                }

                img {
                    width: 20px;
                }
            }
        }

    }


}