.collapse-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
}

.collapse-bloc {
    width: 80%;
    margin: 0 auto 30px;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-radius: 5px;
    background: rgba(255, 96, 96, 1);
    padding-left: 15px;
    padding-right: 20px;
    cursor: pointer;

    h2 {
        font-size: 24px;
        font-weight: 500;
        color: white;
    }

    img {
        transition: 0.2s ease-in-out;
    }
}

.rotated {
    transform: rotate(180deg);
}

.dropdown {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;

    p {
        color: rgba(255, 96, 96, 1);
        font-size: 24px;
        line-height: 34px;
        // transition: color 0.3s; /* Animation de couleur de texte */
    }
}

.open {
    background: rgba(246, 246, 246, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 15px 15px 15px;
    height: auto;
    transition: all 0.3s ease;
}


@media only screen and (max-width: 768px) {

    .collapse-container {
        margin-top: 30px;
        margin-bottom: 0;

        .dropdown p {
            font-size: 12px;
            line-height: 17px;
        }
    }

    .collapse-bloc {
        width: 100%;
        margin: 0 auto 20px;
    }

    .collapse {
        height: 30px;
        border-radius: 5px;

        h2 {
            font-size: 13px;
        }
    }
}