.collapse-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.collapse-closed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 52px;
    border-radius: 5px;
    margin: 0 auto;
    background: rgba(255, 96, 96, 1);
    padding-left: 15px;
    padding-right: 20px;

    p {
        font-size: 24px;
        font-weight: 500;
        color: white;
    }

    // img {
    //     transform: rotate(180deg);
    //     transition: 0.2s;
    // }
}