.collapse-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
}

.collapse-bloc {
    width: 80%;
    margin: 0 auto 30px;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-radius: 5px;
    background: rgba(255, 96, 96, 1);
    padding-left: 15px;
    padding-right: 20px;
    cursor: pointer;

    h2 {
        font-size: 24px;
        font-weight: 500;
        color: white;
    }

    img {
        transition: 0.2s ease-in-out;
    }
}

.rotated {
    transform: rotate(180deg);
}

.dropdown {
    background: rgba(246, 246, 246, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 15px 15px 15px;
    transform-origin: 50% top; 
    transition: all 0.3s; 
    transform: scaleY(1);
    
    p {
        color: rgba(255, 96, 96, 1);
        font-size: 24px;
        line-height: 34px;
    }
}

// .open {
//     // transform-origin: 50% top;
//     transform: scaleY(1);
//     // transition: 0.3s;
// }