.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 80px;
    color: rgba(255, 96, 96, 1);

    h1 {
        font-weight: 700;
        font-size: 288px;
    }

    h3 {
        font-weight: 500;
        font-size: 36px;
    }

    p a {
        color: rgba(255, 96, 96, 1);
        font-weight: 500;
        text-decoration: underline;
        font-size: 18px;
    }

}

@media only screen and (max-witdh: 768px) {

    .error-container {

        h1 {
            font-size: 96px;
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

}