footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 209px;

    img {
        margin: 30px 0 30px 0;
    }

    p {
        font-size: 24px;
        font-weight: 500;
        color: white;
    }
}

@media only screen and (max-width: 768px) {

    footer {

        img {
           margin: 0;
           margin-bottom: 10px; 
        }

        p {
            text-align: center;
            width: 30%;
            font-size: 12px;
        }
    }
}