body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header {
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

main {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
}

li {
    list-style-type: none;
    color: #FF6060;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 25px 0 25px;
        margin: 20px auto;

        img {
            width: 100px;
        }

        .navigation {

            li {
                font-size: 12px;
            }

            ul {
                gap: 20px;
            }
            
        }
    }

    main {
        padding: 0 25px 0 25px;
    }
}